.main-encoder {
  &__text {
    flex-grow: 1;
    padding-bottom: 24px;

    textarea {
      resize: none;
      height: 100%;
      width: 100%;
    }
  }

  &__configurations {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;

    &-shift,
    &-repeats {
      input {
        width: 100%;
      }
    }
  }

  &__submit-btn {
    align-self: center;
  }
}
